# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production
.next
out
.next-static

# Misc
.DS_Store
*.local
*.log
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
